
/* exCon Kristina Mulry & Bryan Hanson, DePauw University, February 2014 */

/* styles for exCon */
/* items that begin with # are IDs */
/* items that being with . are classes */
/* items that don't begin with a special character are html reserved names */

<style>

/* button styles */
#resetButton {
  cursor: pointer;
  fill: #FF0000;
}

#resetButton:hover {
  cursor: pointer;
  fill: #7CFC00;
}

#incButton {
  cursor: pointer;
  fill: #B22222;
}

#incButton:hover {
  cursor: pointer;
  fill: #FF0000;
}

#decButton {
  cursor: pointer;
  fill: #000080;
}

#decButton:hover {
  cursor: pointer;
  fill: #0000FF;
}

/* class styles */

.contour {
    fill: none;
    stroke: red;
    stroke-width: 2.0;
}

.map {
    fill: none;
    stroke: red;
    stroke-width: 1.0;
}

.xslice,
.yslice {
    fill: none;
    stroke: red;
    stroke-width: 1.5;
}

.axis path, 
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 8 px;
} 

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.cursorGuide {
    fill: none;
    stroke: gray;
    stroke-width: 0.5;
}

/* styles for html reserved items */

body {
    background-color: #FFFFF0;
}

input[type = "text"] {
    font-family: Arial, Helvetica, sans-serif;
}

div.inputData {
    font-family: Arial, Helvetica, sans-serif;
}

 
/* div.BigSVG { /\* this is supposed to center the svg *\/ */
/*   width: 95 % ; */
/*   margin-left: auto ; */
/*   margin-right: auto ; */
/*   background-color: #FFFFF0; */
/* } */

</style>
